
@{
    ViewBag.Title = "Yenimusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşter Adı</label>
        <input type="text" class="form-control" name="MUSTERIAD" />
    </div>
    <div>
        <label>Müşter Soyad</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri ekle</button>
    </div>
</form>

