
@{
    ViewBag.Title = "Yeniurun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" />
    </div>
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="MARKA" />
    </div>
    <div>
        <label>Ürün kategori</label>
        <input type="text" class="form-control" name="URUNKATEGORI" />
    </div>
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label>Stok adet</label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün ekle</button>
    </div>
</form>

